@import "~react-image-gallery/styles/css/image-gallery.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}
.scroll {
  overflow-y: hidden;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
*,
::after,
::before {
  box-sizing: inherit;
}
:root {
  --bg-dark: rgba(0, 0, 0, 0.6);
  --links-color: rgb(240, 202, 140);
  --btn-bg-color: rgb(49, 3, 3);
  --fonts: comicSans;
  --big-font: 1.2em;
  --small-font: 1em;
}

.home {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/images/naslovna.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-bar,
.footer {
  background: var(--bg-dark);

  width: 100%;
  z-index: 1;
  padding: 1em;
}
.nav-bar {
  height: 4em;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-shrink: 2;
}
#hamburger-menu-icon {
  display: none;
}
.logo {
  position: relative;
  left: -32vw;
}
.logo img {
  position: absolute;
  width: 7em;
  z-index: 1;
}
.logo img:hover {
  cursor: pointer;
}
.nav-links {
  display: flex;
  padding: 0.5em;
}
.pages-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: var(--big-font);
  padding: 1.1em;
  color: var(--links-color);
}
.nav-links li:hover {
  text-shadow: 2px 2px var(--btn-bg-color);
}
.lang {
  color: var(--links-color);
}

.lang select {
  margin-left: 0.8em;
  color: var(--links-color);
  background-color: var(--bg-dark);
}
.social-links ul {
  display: flex;
  list-style-type: none;
  padding: 1em;
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: auto;
}
.social-links ul li a {
  padding: 0.5em;
  color: var(--links-color);
}
.social-links ul li i {
  z-index: 1;
  align-items: flex-end;
}
.footer {
  position: fixed;
  bottom: 0px;
}
.footer p {
  font-size: var(--big-font);
  text-transform: uppercase;
  text-align: center;
  color: var(--links-color);
  font-weight: bold;
}

/* ------ ABOUT US PAGE ------ */

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-30deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
.about-us {
  display: flex;
  flex-direction: column;
  padding: 5em 2em 0 2em;
}
.top-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2.5em;
  align-items: center;
}
.top-box img {
  margin-top: 6vh;
  max-width: 100%;
}
.about-us-text p {
  font-size: 1.7vh;
  font-style: italic;
  line-height: 1.5em;
  text-indent: 3em;
  text-align: justify;
}

.about-us-text {
  animation: transitionIn 2s;
  max-width: 40%;
}
.bottom-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  padding-bottom: 3em;
}
.bottom-box p {
  font-style: italic;
  font-weight: 500;
  color: var(--btn-bg-color);
}
.logos {
  display: flex;
  align-items: center;
}

.logos img {
  align-self: center;
  margin: 1rem;
  width: 4rem;
  flex-basis: auto;
  padding: 1em;
}
img.one {
  width: 8rem;
}

/* ------- SERVICES PAGE------------ */

.services {
  margin-inline: auto;
  margin-block: 6rem;
  width: min(80%, 90vw);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.services .box {
  animation: transitionIn 2s;
  padding: 2em;
  display: flex;
}
.box > * {
  flex-basis: 100%;
}

.text-box {
  padding: 2em;
  white-space: pre-wrap;
}
.img-box {
  padding: 3em;
}
.img-box img {
  border-top: 2vh solid var(--bg-dark);
  display: block;
  width: 100%;
}

.text-box p {
  line-height: 1.5rem;
  font-size: var(--big-font);
  text-align: justify;
}
.text-box h2 {
  text-align: center;
  padding: 20px;
  color: rgb(100, 0, 0);
}
.services .button {
  color: var(--btn-bg-color);
  background: var(--links-color);
  opacity: 0.9;
  margin-top: 15px;
  padding: 0.7em;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  border: none !important;
}
.services .button:hover {
  cursor: pointer;
  text-shadow: 2px 2px 5px #2a08082d;
}

.services .button:active {
  color: var(--links-color);
  background: var(--btn-bg-color);
}

/* ------- PORTFOLIO PAGE--------------*/
.gallery-page {
  text-align: center;
}
.galleries {
  animation: transitionIn 2s;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 20vh;
  margin-inline: auto;
}
.gallery {
  width: 30%;
  height: 30%;
  margin: 1em;
}
.gallery h2 {
  margin-bottom: 1.5em;
  text-align: left;
  text-transform: uppercase;
  color: var(--bg-dark);
}
.image-gallery-image {
  height: 20rem;
}
.fullscreen .image-gallery-image {
  height: 80vh;
}
.image-gallery-thumbnails {
  margin-top: 2em;
}
.image-gallery-thumbnail-image {
  height: 5rem;
}
.image-gallery-icon {
  color: var(--links-color);
}
.image-gallery-play-button,
.image-gallery-right-nav,
.image-gallery-left-nav {
  display: none;
}
.image-gallery-index {
  color: var(--links-color);
  font-weight: bold;
  z-index: 1;
}
.concept {
  margin-top: 4rem;
}
#downArrow {
  font-size: clamp(1.8em, 2.5rem, 2rem);
  color: rgb(0, 153, 153);
}
.concept p {
  padding: 1em;
  text-transform: uppercase;
  font-size: var(--big-font);
  font-weight: bold;
  color: rgb(0, 102, 102);
}
#gradation {
  width: min(50em, 50%);
  scroll-behavior: smooth;
  padding: 3em;
  margin-inline: auto;
}

/* -------------CONTACT US PAGE----------- */

.contact-us {
  height: 100%;
  width: 100%;
  animation: transitionIn 2s;
  margin: 10em auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.email-form {
  position: relative;
  min-width: 35%;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  color: var(--links-color);
  background-color: var(--bg-dark);
  font-weight: bold;
}
.email-form input {
  color: var(--links-color);
  margin-block: 0.5em;
  padding: 0.7em;
  max-width: 60%;
}

.email-form label {
  padding-block: 0.5em;
}
.btn {
  background-color: var(--bg-dark);
  opacity: 0.9;
  font-weight: bold;
  padding: 0.5em;
}
.btn:hover {
  cursor: pointer;
  background-color: white;
  color: var(--bg-dark);
  font-weight: bolder;
}

textarea {
  min-width: 85%;
  max-width: 100%;
  height: 8em;
}
.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.icons {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}
.icons li {
  padding-top: 2em;
  color: var(--links-color);
}
.icons i {
  font-size: x-large;
  padding-right: 0.5em;
}
.icons li a {
  display: inline;
  color: var(--bg-dark);
  font-size: var(--big-font);
  text-decoration: none;
}
.modal {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  background-color: var(--bg-dark);
  margin-inline: auto;
  color: var(--bg-dark);
  z-index: 1;
}
.modal-content {
  margin: 2em;
  width: 60%;
  background-color: rgb(209, 204, 204);
  text-align: justify;
}
.modal-header,
.modal-footer {
  padding: 2em;
}
.modal-title {
  margin: 0;
  font-weight: bolder;
}

.modal-body {
  padding: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 1.3em;
}
.my-map {
  z-index: 0;
  margin: 0 auto;
  padding-top: 6em;
}
.map {
  height: 40em;
  width: 40em;
}
@media screen and (max-width: 1400px) {
  .scroll {
    overflow: auto;
  }
  .logo {
    left: -20vw;
    top: 2vh;
  }
}
@media screen and (max-width: 1200px) {
  .logo {
    left: -7vw;
    top: 2vh;
  }
  .logo img {
    width: 4em;
  }
  .nav-bar ul li {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.1em;
  }
  .nav-links li a {
    font-size: var(--small-font);
    padding: 1em;
  }
  .lang select {
    margin: 0.5em;
  }
  .social-links ul li a {
    padding: 0.5em;
  }
  .footer p {
    font-size: var(--small-font);
  }
  .about-us {
    flex-direction: column;
  }
  .about-us .top-box {
    flex-direction: column;
    margin-top: 4em;
  }
  .about-us-text {
    max-width: 80%;
  }
  .about-us-text p {
    line-height: 1.8em;
    font-size: var(--small-font);
  }

  .bottom-box p {
    text-align: center;
  }
  .bottom-box img {
    margin: 0;
  }
  .services {
    margin-top: 4rem;
  }
  .services .box {
    flex-direction: column;
  }
  .galleries {
    flex-direction: column;
    align-items: center;
  }
  .gallery {
    width: 80%;
  }
  .image-gallery-content {
    object-fit: none;
    margin: 0 auto;
  }
  .image-gallery-image {
    height: auto;
  }
  .image-gallery-thumbnail-image {
    height: auto;
  }
  .concept {
    margin-top: 0;
    padding: 0;
  }
  .concept p {
    font-size: var(--small-font);
  }
  .concept button {
    display: none;
  }
  #gradation {
    padding: 0;
    margin: 0;
  }
  .map {
    z-index: 0;
  }
}

@media screen and (max-width: 860px) {
  #hamburger-menu-icon {
    display: block;
    font-size: 2em;
    color: var(--links-color);
    margin-top: 0.5em;
  }
  .logo {
    top: 8vh;
    left: 70vw;
  }
  .logo img {
    padding: 1vh;
  }
  .nav-bar {
    height: fit-content;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .about-us {
    padding: 0;
  }
  .about-us .top-box {
    margin-top: 20vh;
  }
  .bottom-box img {
    width: 3rem;
  }
  .bottom-box img.one {
    width: 6rem;
  }
  .closed {
    display: none;
  }
  .open {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
  }
  .open .pages-links {
    flex-direction: column;
    justify-content: flex-start;
  }
  .pages-links li {
    text-align: justify;
    margin: 0.5em;
  }

  .open .social-links li {
    padding: 0.5em;
  }

  .services {
    width: 100%;
  }
  .img-box {
    padding: 1em;
  }
  .gallery h2 {
    margin: 0.5em;
  }

  .contact-us {
    /* margin-top: 18vh; */
    flex-direction: column;
  }
  .contact-details .icons {
    padding-bottom: 5em;
  }
  .map {
    margin: 2em;
    height: 40em;
    width: 40em;
  }
  .email-form {
    min-width: 60%;
    padding: 1.5em;
  }

  .modal {
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 560px) {
  .footer {
    padding: 1em 0 1em 0;
  }
  .about-us .bottom-box {
    margin-bottom: 4em;
  }
  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .logos img {
    width: 6rem;
  }
  .logos img.one {
    width: 8rem;
  }
  .services {
    margin-top: 7rem;
    padding-bottom: 4rem;
  }
  .services .box {
    padding: 2em 2em 0 2em;
  }
  .services h2 {
    font-size: var(--big-font);
    padding: 0 0 1em 0;
  }

  .services .text-box {
    padding: 1em 0 1em 0;
  }
  .services .text-box p {
    font-size: var(--small-font);
  }
  .services .img-box {
    padding: 0;
  }
  .gallery h2 {
    font-size: var(--big-font);
  }
  #gradation {
    margin-bottom: 5em;
    width: min(50em, 80%);
  }
  .map {
    height: 20em;
    width: 20em;
  }
}
