@import "~react-image-gallery/styles/css/image-gallery.css";
@font-face {
  font-family: comicSans;
  src: url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--fonts);
}
*,
::after,
::before {
  box-sizing: inherit;
}
:root {
  --bg-dark: rgba(0, 0, 0, 0.6);
  --links-color: rgb(240, 202, 140);
  --btn-bg-color: rgb(49, 3, 3);
  --fonts: comicSans;
  --big-font: 1.2em;
  --small-font: 1em;
}
/* p{
  font-size: 22px;
} */
.home {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/images/naslovna.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Maiandra;
}
.nav-bar,
.footer {
  background: var(--bg-dark);
  /* height: fit-content; */
  /* min-height: 3.5rem; */
  width: 100%;
  z-index: 1;
  padding: 1em;
}
.nav-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-shrink: 2;
}
#hamburger-menu-icon {
  display: none;
}
.nav-links {
  display: flex;
  padding: 0.5em;
}
.pages-links {
  padding: 0.2em;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: var(--big-font);
  padding: 1.3em;
  color: var(--links-color);
}
.nav-links li:hover {
  text-shadow: 2px 2px var(--btn-bg-color);
}
.lang {
  color: var(--links-color);
}

.lang select {
  margin: 0.8em;
  color: var(--links-color);
  background-color: var(--bg-dark);
}
.social-links ul {
  display: flex;
  list-style-type: none;
  padding: 1em;
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: auto;
}
.social-links ul li a {
  padding: 0.5em;
  color: var(--links-color);
}
.social-links ul li i {
  z-index: 1;
  align-items: flex-end;
}
.footer {
  position: fixed;
  bottom: 0px;
}
.footer p {
  font-size: var(--big-font);
  /* padding: 15px; */
  text-transform: uppercase;
  text-align: center;
  color: var(--links-color);
  font-weight: bold;
}

/* ------ ABOUT US PAGE ------ */

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-30deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
.about-us {
  display: flex;
  flex-direction: column;
  padding: 5em;
}
.top-box {
  /* margin: 2em auto; */
  display: flex;
  justify-content: space-around;
  max-width: 90%;
  margin-inline: auto;
  margin-top: 1.5em;
  align-items: center;
}
.bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5em;
}
.about-us p {
  font-size: 2vh;
  font-style: italic;
  line-height: 1.5em;
  text-indent: 3em;
  text-align: justify;
  /* text-shadow: 2px 2px 4px #8f8f8f; */
}
.about-us-text {
  animation: transitionIn 2s;
  max-width: 40%;
}
.top-box img {
  margin-top: 6vh;
  max-width: 100%;
}

.bottom-box img {
  align-self: center;
  /* margin-bottom: 10vh; */
  margin: 1rem;
  width: 4rem;
  flex-basis: auto;
}
img.one {
  background-color: blue;
  width: 8rem;
}

/* ------- SERVICES PAGE------------ */

.services {
  margin-inline: auto;
  margin-block: 6rem;
  width: min(80%, 90vw);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.services .box {
  /* border: 1px solid olive; */
  padding: 2em;
  display: flex;
}
.box > * {
  flex-basis: 100%;
}

.text-box {
  padding: 2em;
  white-space: pre-wrap;
  /* text-align: justify; */
}
.img-box {
  padding: 3em;
}
.img-box img {
  border-top: 2vh solid var(--bg-dark);
  display: block;
  width: 100%;
}

.text-box p {
  /* text-indent: 2.5em; */
  line-height: 1.5rem;
  font-size: var(--big-font);
  text-align: justify;
}
.text-box h2 {
  text-align: center;
  padding: 20px;
  color: rgb(100, 0, 0);
}
.services .button {
  /* color: rgb(221, 97, 97); */
  color: var(--btn-bg-color);
  background: var(--links-color);
  opacity: 90%;
  margin-top: 15px;
  padding: 0.7em;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  border: none !important;
}
.services .button:hover {
  cursor: pointer;
  text-shadow: 2px 2px 5px #2a08082d;
}
/* .services .button:focus {
  outline: none;
} */
.services .button:active {
  color: var(--links-color);
  background: var(--btn-bg-color);
}

/* ------- PORTFOLIO PAGE--------------*/
.gallery-page {
  text-align: center;
}
.galleries {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 18vh;
  margin-inline: auto;
}
.gallery {
  padding: 20em;
}
.gallery h2 {
  padding-bottom: 1em;
  text-align: left;
  text-transform: uppercase;
  /* font-weight: bold; */
  color: var(--bg-dark);
}

.image-gallery-icon {
  color: var(--links-color);
}
.image-gallery-index {
  color: var(--links-color);
  font-weight: bold;
  z-index: 4;
}
#downArrow {
  font-size: clamp(1.8em, 2.5rem, 2rem);
  color: rgb(0, 153, 153);
}
.concept {
  margin-top: 6em; /* height: 150vh; */
}
.concept p {
  padding: 1.5em;
  text-transform: uppercase;
  font-size: var(--big-font);
  font-weight: bold;
  color: rgb(0, 102, 102);
}
#gradation {
  width: min(50em, 50%);
  scroll-behavior: smooth;
  padding: 3em;
  margin-inline: auto;
  margin-top: 10em;
}

/* -------------CONTACT US PAGE----------- */

.contact-us {
  margin: 10em auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* display: flex;

  justify-content: space-around; */
}
.email-form {
  position: relative;
  width: 35%;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  color: var(--links-color);
  background-color: var(--bg-dark);
  font-weight: bold;
}
.email-form input {
  color: var(--links-color);
  margin-block: 0.5em;
  padding: 0.7em;
}
.email-form label {
  padding-block: 0.5em;
}
.btn {
  background-color: var(--bg-dark);
  opacity: 90%;
  font-weight: bold;
  padding: 0.5em;
}
.btn:hover {
  cursor: pointer;
  background-color: white;
  color: var(--bg-dark);
  font-weight: bolder;
}

textarea {
  min-width: 85%;
  max-width: 100%;
  height: 8em;
}
.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin: 0 auto; */
}
.icons {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}
.icons li {
  padding-top: 2em;
}
.icons i {
  /* display: block; */
  /* margin: 1em; */
  font-size: x-large;
  padding-right: 0.5em;
}
.icons p {
  display: inline;
  color: var(--bg-dark);
  font-size: var(--big-font);
  text-decoration: none;
}
.modal {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  background-color: var(--bg-dark);
  margin-inline: auto;
  color: var(--bg-dark);
  /* right: 0%;
  bottom: 0; */
  z-index: 1;
}
.modal-content {
  margin: 2em;
  width: 60%;
  background-color: rgb(209, 204, 204);
}
.modal-header,
.modal-footer {
  padding: 2em;
  /* font-weight: bolder; */
}
.modal-title {
  margin: 0;
  font-weight: bolder;
}

.modal-body {
  padding: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 1.3em;
}
.map {
  height: 30em;
  width: 30em;
  margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
  .nav-bar ul li {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.1em;
  }
  .nav-links li a {
    font-size: var(--small-font);
    padding: 1.4em;
  }
  .lang select {
    margin: 0.5em;
  }
  .social-links ul li a {
    padding: 0;
  }
  .footer p {
    font-size: var(--small-font);
  }
  .about-us {
    flex-direction: column;
    padding: 2em;
  }
  .about-us .top-box {
    flex-direction: column;
    margin-top: 12vh;
  }
  .about-us-text {
    max-width: 80%;
  }
  .about-us-text p {
    line-height: 1.8em;
    font-size: var(--small-font);
  }

  .bottom-box {
    margin-inline: auto;
  }
  .services {
    margin-top: 4rem;
  }
  .services .box {
    flex-direction: column;
  }
  .gallery-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15vh;
  }

  .concept {
    margin-top: 0;
    padding: 0;
  }
  .concept p {
    font-size: var(--small-font);
  }
  .concept button {
    display: none;
  }
  #gradation {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 860px) {
  .nav-bar {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  #hamburger-menu-icon {
    display: block;
    font-size: 2em;
    color: var(--links-color);
    margin-top: 0.5em;
  }
  .closed {
    display: none;
  }
  .open {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
  }
  .open .pages-links {
    flex-direction: column;
    justify-content: flex-start;
  }
  .pages-links li {
    text-align: justify;
    margin: 0.5em;
  }

  .open .social-links li {
    padding: 0.5em;
  }

  .bottom-box {
    margin: 10vh;
  }

  .contact-us {
    margin-top: 18vh;
    flex-direction: column;
  }
  .email-form {
    width: 60%;
    padding: 1.5em;
  }
  .map {
    z-index: 0;
  }
}
